.gallery { display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
width: 75vw;
}




.header { display: flex;
    padding-bottom: 40px;
}

.followline { display: flex;
justify-content: space-between;}

.checkline { display: flex;
    flex-direction: row;
    width: 80%;
}

#insta { font-size: 30px;
    padding: 10px;
}
.check { display: flex;
flex-direction: row;
align-items: center;}

#dots { margin-left: 30px;
    margin-top: 40px;
font-size: 20px;}

#Following {margin-left: 20px;
    margin-top: 40px;
border: solid lightgray 1px;
display: flex;
align-items: center;
padding: 5px;
margin-bottom: 40px;
}

#logo { width: 150px;
height: auto;
padding: 90px;}
#foller, #posts, #folling { margin-left: 5px;}

* { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: lighter;
font-size: large;}
.imgs { display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
.fols { display: flex;
justify-content: space-evenly;}
.bold { font-weight: bold;}
#img7 { width: 147px;}